<connectionStrings>
  <add name="cnCineStar"
       connectionString="Server=tcp:cinestar-proyecto-7314b.database.windows.net,1433;Initial Catalog=CineStar;User ID=carloscine;Password=TU_CONTRASEÑA;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
       providerName="System.Data.SqlClient" />
</connectionStrings>
